* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
.container {
  background-color: #8a8987;
  height: 100vh;
  width: 100%;
}
.navbar {
  width: 100%;
  height: 80px;
  background: #1f1914;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  margin-left: 20px;
  display: flex;
}
.navbar ul li a {
  text-decoration: none;
  padding-bottom: 5px;
}

.navbar ul li a:hover {
  /* padding-bottom: 5px; */
  border-bottom: 2px solid #fff;
}

/* .carousel {
  width: 100vh;
  height: 100vh;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
} */

.carousel {
  height: 500px;
  width: 65%;
  background-image: url("./images/Shrishti_AluTech/ST\ company-images-0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  animation-name: slideImg;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate-reverse; */
}
@keyframes slideImg {
  0% {
    background-image: url("./images/Shrishti_AluTech/ST\ company-images-0.jpg");
  }
  25% {
    background-image: url("./images/Shrishti_AluTech/ST\ company-images-1.jpg");
  }
  50% {
    background-image: url("./images/Shrishti_AluTech/ST\ company-images-2.jpg");
  }
  75% {
    background-image: url("./images/Shrishti_AluTech/ST\ company-images-3.jpg");
  }
}

.image_container {
  display: flex;
}

.image_container img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 83px;
}
